fastapi>=0.110.0
jinja2
python-multipart
uvicorn
asyncio
pytest
requests
python-dotenv

redis>=5.1.1
rq
rq-dashboard
rq-scheduler

numpy>=1.26.4
pandas>=2.2.2
qdrant-client>=1.12.0
python-arango
fastembed

Faker
markdown
gdown
pypdl
pymupdf

google-generativeai>=0.8.3
google-cloud-translate>=3.15.3
transformers
sentence-transformers