.botui-message-content span {
  line-height: 22px !important;
}

#LEO_ChatBot_Container {
  width: 100% !important;
  height: 720px !important;
  overflow-y: scroll !important;
  margin-bottom: 20px !important;
}

.leobot-question-input {
  width: 76% !important;
  box-shadow: 0 0 6px #0045fe;
  display: inline-block !important;
}

.botui-action-text-icon {
  display: inline-block !important;
  font-size: 18px !important;
}

#leobot_info_box {
  display: inline-block !important;
  font-size: 12.8px !important;
  width: 100% !important;
  color: #000 !important;
}

div.leobot-answer .botui-message-content {
  color: #000 !important;
}

div.leobot-error .botui-message-content {
  color: red !important;
  border: 1px solid red;
}

div.leobot-question .botui-message-content {
  color: blue !important;
  border: 1px solid blue;
}


.botui-container {
  font-size: 14.2px !important;
}

/* ajax loader  */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}